.dashboardseries {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1512px;
  overflow: hidden;
  width: 100%;
}

.dashboardseries_nav_support {
  top: 362px;
}
