@charset "utf-8";
@import url("./font.css");
@import url("./default.css");
/*
=====================
1: Base Setting
2: Common Setting
3: Main
4: Contents
5: Mypage
=====================
*/
/* 1: Base Setting
=========================================================================================== */
.ta-r {
  text-align: right !important;
}
.ta-l {
  text-align: left !important;
}
.ta-c {
  text-align: center !important;
}
.va-t {
  vertical-align: top !important;
}
.va-n {
  vertical-align: middle !important;
}
.va-b {
  vertical-align: bottom !important;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
}
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
.blind {
  display: none;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
  height: 0;
}
.f-en {
  font-family: serif;
}
iframe[name="google_conversion_frame"] {
  border: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: -1;
  visibility: hidden;
}
/*input style 선언*/
.textarea {
  width: 100%;
  padding: 40px;
  min-height: 120px;
  border: 0;
  background-color: #fff;
  line-height: 1.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/*file design*/
.filebox {
  position: relative;
  width: 360px;
  height: 360px;
  margin: 0 auto;
}
.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.filebox label {
  text-indent: -9999em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.filebox .upload-name {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 360px;
  -moz-border-radius: 360px;
  border-radius: 360px;
  overflow: hidden;
}
.filebox .upload-name img {
  width: 100%;
  height: 100%;
}
.filebox i {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*radio design*/
.inp_radio {
  z-index: 0;
  position: relative;
  display: inline-block;
  line-height: 1;
  min-height: 18px;
  vertical-align: middle;
}
.inp_radio input {
  position: absolute;
  visibility: hidden;
  display: block \0 / IE8;
}
.inp_radio input + span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
  vertical-align: top;
}
.inp_radio input + span::after,
.inp_radio input + span:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #cdcdcd;
  background-color: #f9f9f9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.inp_radio input:checked + span::before,
.inp_radio input:checked + span:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-color: #5a32d1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.inp_radio input + span ~ .inp_txt,
.inp_radio input + span ~ .select1 {
  margin-left: 5px;
  visibility: visible;
  position: static;
  vertical-align: middle;
  pointer-events: none;
  background-color: #f9f9f9;
}
.inp_radio input:checked + span ~ .inp_txt,
.inp_radio input:checked + span ~ .select1 {
  pointer-events: auto;
  background-color: #fff;
}
/*checkbox design*/
.inp_checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;
}
.inp_checkbox input {
  position: absolute;
  visibility: hidden;
  display: block \0 / IE8;
}
.inp_checkbox input + span {
  position: relative;
  display: inline-block;
  padding-left: 34px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  vertical-align: top;
}
.inp_checkbox input + span::after,
.inp_checkbox input + span:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: -2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #c3cad2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inp_checkbox input:checked + span::after,
.inp_checkbox input:checked + span:after {
  background-color: #394bc2;
  border-color: #394bc2;
  background-image: url("@IMAGES/ico_checkbox.png");
  background-position: 50% 49%;
  background-repeat: no-repeat;
}
.inp_checkbox:hover input + span::after,
.inp_checkbox:hover input + span:after {
  border-color: #a9b4be;
}
.inp_checkbox:hover input:checked + span::after,
.inp_checkbox:hover input:checked + span:after {
  background-color: #5a6acf;
  border-color: #5a6acf;
}
.inp_checkbox input:disabled + span::after,
.inp_checkbox input:disabled + span:after {
  background-color: #dde1e5;
}
/*셀렉트 디자인*/
select.select1 {
  padding-right: 30px;
  height: 40px;
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: inherit;
  color: #333;
  background-color: #fff;
  /* background-image: url("@IMAGES/icon_select.png"); */
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 18px auto;
}
select.select1::-ms-expand {
  display: none;
}
select.select1 option {
  line-height: 200%;
  border: 0;
}
select.select1 option:checked,
select.select1 option:hover {
  background: #7692af;
  box-shadow: 0 0 10px 100px #7692af inset;
}
select.select1:required:invalid {
  color: #8e8e8e;
}
select.select1 option[value=""][disabled] {
  display: none;
}
select.select1 option:first-child {
  color: #8e8e8e;
}
/*인풋*/
input.inp_txt {
  padding: 0px 12px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #c3cad2;
}
input.inp_txt {
  border-color: #dcdcdc;
  border-width: 1px;
}
input.inp_txt:disabled {
  background-color: #eee;
}
textarea:disabled {
  background-color: #eee;
}
select:disabled {
  background-color: #eee;
}
input.inp_txt:focus {
  border-color: #222;
}
select.select1:focus {
  border-color: #222;
}
/*간격*/
.p0 {
  padding: 0 !important;
}
.p10 {
  padding: 10px !important;
}
.p20 {
  padding: 20px !important;
}
.p30 {
  padding: 30px !important;
}
.p40 {
  padding: 40px !important;
}
.p50 {
  padding: 50px !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt1 {
  padding-top: 2px !important;
}
.pt2 {
  padding-top: 2px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt55 {
  padding-top: 55px !important;
}
.pt60 {
  padding-top: 60px !important;
}
.pt65 {
  padding-top: 65px !important;
}
.pt70 {
  padding-top: 70px !important;
}
.pt75 {
  padding-top: 75px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pt85 {
  padding-top: 85px !important;
}
.pt90 {
  padding-top: 90px !important;
}
.pt95 {
  padding-top: 95px !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb55 {
  padding-bottom: 55px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pb65 {
  padding-bottom: 65px !important;
}
.pb70 {
  padding-bottom: 70px !important;
}
.pb75 {
  padding-bottom: 75px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pb85 {
  padding-bottom: 85px !important;
}
.pb90 {
  padding-bottom: 90px !important;
}
.pb95 {
  padding-bottom: 95px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl45 {
  padding-left: 45px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pl55 {
  padding-left: 55px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pl65 {
  padding-left: 65px !important;
}
.pl70 {
  padding-left: 70px !important;
}
.pl75 {
  padding-left: 75px !important;
}
.pl80 {
  padding-left: 80px !important;
}
.pl85 {
  padding-left: 85px !important;
}
.pl90 {
  padding-left: 90px !important;
}
.pl95 {
  padding-left: 95px !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pr55 {
  padding-right: 55px !important;
}
.pr60 {
  padding-right: 60px !important;
}
.pr65 {
  padding-right: 65px !important;
}
.pr70 {
  padding-right: 70px !important;
}
.pr75 {
  padding-right: 75px !important;
}
.pr80 {
  padding-right: 80px !important;
}
.mt-1 {
  margin-top: -1px !important;
}
.m0 {
  margin: 0 !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m30 {
  margin: 30px !important;
}
.m40 {
  margin: 40px;
}
.m50 {
  margin: 50px;
}
.mt0 {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt55 {
  margin-top: 55px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt65 {
  margin-top: 65px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt75 {
  margin-top: 75px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt85 {
  margin-top: 85px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mt95 {
  margin-top: 95px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb55 {
  margin-bottom: 55px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb65 {
  margin-bottom: 65px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb75 {
  margin-bottom: 75px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb85 {
  margin-bottom: 85px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb95 {
  margin-bottom: 95px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml55 {
  margin-left: 55px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.ml65 {
  margin-left: 65px !important;
}
.ml70 {
  margin-left: 70px !important;
}
.ml75 {
  margin-left: 75px !important;
}
.ml80 {
  margin-left: 80px !important;
}
.ml85 {
  margin-left: 85px !important;
}
.ml90 {
  margin-left: 90px !important;
}
.ml95 {
  margin-left: 95px !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mr55 {
  margin-right: 55px !important;
}
.mr60 {
  margin-right: 60px !important;
}
.mr65 {
  margin-right: 65px !important;
}
.mr70 {
  margin-right: 70px !important;
}
.mr75 {
  margin-right: 75px !important;
}
.mr80 {
  margin-right: 80px !important;
}
/*IR 기법 아이콘 세트*/
.i-aft {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  *display: inline;
  *zoom: 1;
}
.i-aft:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 0;
  content: "";
  text-align: left;
  text-indent: -9999px;
  /* background-image: url("@IMAGES/ico_common.png"); */
  background-repeat: no-repeat;
  background-size: 100vw auto;
  *display: inline;
  *zoom: 1;
}
.i-set {
  display: inline-block;
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
  text-indent: -9999px;
  /* background-image: url("@IMAGES/ico_common.png"); */
  background-repeat: no-repeat;
  background-size: 100vw auto;
  *display: inline;
  *zoom: 1;
}
.c-blue {
  color: #394bc2;
}
.c-gray {
  color: #909dab;
}
.c-black {
  color: #000;
}
/* 2: Common Setting
=========================================================================================== */
/* 2-1: Basic
=========================== */
html {
  width: 100%;
  min-height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  font-family: "Noto Sans JP", "Apple-Gothic", "Malgun Gothic", sans-serif;
  color: #13161a;
  font-weight: normal;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}
.inr-c {
  max-width: 1240px;
  margin: 0 auto;
}
#wrap {
  min-height: 100vh;
  font-size: 14px;
}
/* 2: Contents
=========================================================================================== */
/*footer*/
.footer {
  clear: both;
  padding: 100px 50px;
  background-color: #f8f8f8;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*header*/
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
  text-align: center;
  background-color: #fff;
  z-index: 105;
}
.gnb ul {
  font-size: 0;
}
.gnb li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-size: 32px;
  line-height: 1;
  color: #b2b2b2;
}
.gnb li a {
  display: block;
  height: 280px;
}
.gnb li .ico {
  display: block;
  padding-top: 68px;
  height: 84px;
}
.gnb li .ico .i-set {
  vertical-align: top;
}
.gnb li.on {
  color: #6450f5;
}
/* 2: Pagination
=========================================================================================== */
.pagination {
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  display: inline-block;
  width: 29px;
  border: 1px solid #d5dce0;
  background-color: #f9f9f9;
  line-height: 32px;
  vertical-align: middle;
}
.pagination li.on a {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.pagination li.prev a,
.pagination li.next a {
  color: #b1b5b8;
  font-weight: bold;
  font-size: 0.75rem;
}
.pagination li.prev a:hover,
.pagination li.next a:hover,
.pagination li.on a:hover {
  color: #3a3a3a;
}
.pagination li a:hover {
  border-color: #000;
  background-color: #fff;
}
/* 3: Container
=========================================================================================== */
/*버튼*/
.btn-bot {
  margin-top: 40px;
  text-align: center;
}
.btn-pk {
  display: inline-block;
  *display: inline-block;
  *zoom: 1;
  padding: 8px 10px;
  color: #13161a;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #c3cad2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-pk.blue {
  border-color: #394bc2;
  color: #fff;
  background-color: #394bc2;
}
.btn-pk.blue:hover {
  background-color: #5a6acf;
  border-color: #5a6acf;
}
.btn-pk.blue:disabled {
  background-color: #c3cad2;
  border-color: #c3cad2;
  color: #909dab;
}
.btn-pk.blue2 {
  border-color: #394bc2;
  color: #394bc2;
}
.btn-pk.blue2:hover {
  background-color: #edeefa;
  border-color: #394bc2;
}
.btn-pk.blue2:disabled {
  border-color: #c3cad2;
  color: #909dab;
}
.btn-pk.black {
  border-color: #000;
  color: #fff;
  background-color: #000;
}
.btn-pk.gray {
  color: #c3cad2;
  border-color: #fff;
}
.btn-pk.gray2 {
  color: #909dab;
  border-color: #fff;
  background-color: rgba(195, 202, 210, 0.6);
}
.btn-pk.bdrs {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.btn-pk.w100p {
  width: 100%;
  min-width: auto !important;
}
.btn-pk.b {
  padding: 0px 20px;
  font-size: 38px;
  line-height: 166px;
  font-weight: 700;
}
.btn-pk.n {
  padding: 40px 30px;
  font-size: 38px;
  line-height: 1;
  font-weight: 700;
}
.btn-pk.s {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 16px;
}
.btn-pk.mem {
  width: 100%;
  padding: 0px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.btn-bot .lft {
  float: left;
}
.btn-bot .rgh {
  float: right;
}
.btn-bot .rgh > a {
  margin-left: 5px;
}
/*로딩바*/
.wrap_loading {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
}
.wrap_loading .in {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrap_loading img {
  margin-bottom: 80px;
  width: 508px;
}
.wrap_loading .progress {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #e6e6e6;
}
.wrap_loading .progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.wrap_loading .progress span:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #6450f5;
  animation: loading 10s linear infinite;
}
@-webkit-keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.wrap_login {
  position: relative;
  min-height: 100vh;
  padding: 50px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff url("@IMAGES/bg_login.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
}
.wrap_login .inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 7%;
  width: 480px;
  padding: 40px 40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: left;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap_login .inner .btn_close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: #4d5a67;
  line-height: 1;
}
.wrap_login .inner .btn_close i {
  vertical-align: top;
}
.wrap_login .logo {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.wrap_login .logo .icon {
  font-size: 0;
}
.wrap_login .btns {
  padding-top: 16px;
}
.wrap_login .btns.ty1 {
  padding-top: 28px;
}
.wrap_login .btns > * {
  margin-top: 12px;
}
.wrap_login .btns > :first-child {
  margin-top: 0;
}
.wrap_login .inps {
  margin-top: 16px;
}
.wrap_login .txt {
  text-align: center;
  margin-bottom: 40px;
}
.wrap_login .txt p {
  margin-bottom: 8px;
}
.wrap_login .txt p:last-child {
  margin-bottom: 0;
}
.wrap_login .botm {
  text-align: center;
  margin-top: 32px;
}
.wrap_login .botm .t1 {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
}
.wrap_login .botm .t2 {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  color: #909dab;
}
.wrap_login .error .inp_txt {
  border-color: #ed1c24;
}
.wrap_login .error .inp_checkbox input + span::after,
.wrap_login .error .inp_checkbox input + span:after {
  border-color: #ed1c24;
}
.wrap_login .error .t_error {
  margin-top: 8px;
}
.wrap_login .error .btn_eyes {
  bottom: 33px;
}
.wrap_login .head {
  display: none;
}
.logo {
  font-size: 0;
  line-height: 1;
}
.logo .icon {
  display: inline-block;
  width: 230px;
  height: 37px;
  background-image: url(@IMAGES/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.area_member .col {
  margin-bottom: 16px;
  position: relative;
}
.area_member .col_link {
  text-align: right;
  margin-bottom: 20px;
}
.area_member .col_link .t {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #c3cad2;
}
.area_member .col_link .btn-pk:disabled {
  opacity: 0.6;
}
.area_member .h {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 16px;
}
.area_member .btn_eyes {
  position: absolute;
  right: 10px;
  bottom: 9px;
  font-size: 21px;
  width: 30px;
  text-align: center;
  line-height: 0;
  color: #909dab;
}
.area_member .btn_eyes .hide {
  display: none;
}
.area_member .btn_eyes.active .hide {
  display: block;
}
.area_member .btn_eyes.active .show {
  display: none;
}
.a_link {
  display: inline-block;
  color: #394bc2;
  line-height: 16px;
  border-bottom: 1px solid #394bc2;
}
.area_sns {
  margin-top: 24px;
}
.area_sns .tit {
  position: relative;
  margin-bottom: 24px;
  font-size: 14px;
  text-align: center;
}
.area_sns .tit span {
  z-index: 1;
  position: relative;
  background-color: #fff;
}
.area_sns .tit:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #c3cad2;
}
.area_sns .btn-pk {
  margin-top: 12px;
}
.area_sns .ico {
  position: relative;
  display: block;
}
.area_sns .ico.i_log_animate:after {
  background-image: url(@IMAGES/ico-animate.png);
}
.area_sns .ico.i_log_google:after {
  background-image: url(@IMAGES/ico_google.png);
}
.area_sns .ico.i_log_twitter:after {
  background-image: url(@IMAGES/ico_twitter.png);
}
.area_sns .ico.i_log_apple:after {
  background-image: url(@IMAGES/ico_apple.png);
}
.area_sns .ico:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 24px;
  background-size: 24px;
}
.box_error {
  margin-bottom: 9px;
  border-width: 1px;
  border-style: solid;
  border-color: #f11c0e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 16px 16px;
  line-height: 16px;
  background-color: #feedec;
}
.box_error .t1 {
  margin-bottom: 12px;
  padding-left: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.box_error .t2 {
  padding-left: 24px;
}
.t_error {
  font-size: 12px;
  color: #ed1c24;
  line-height: 16px;
}
.t_error .ico_error:after {
  top: 0;
}
.ico_error {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}
.ico_error:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  background-image: url("@IMAGES/ico_error.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.area_terms {
  position: relative;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #909dab;
}
.area_terms .c-black {
  color: #000;
  font-size: 16px;
}
.area_terms .in {
  overflow-y: auto;
  height: 480px;
  white-space: pre-line;
}
.area_terms:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #ffffff;
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 100%
  );
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
}
