
/* ============================================================================== */
/* Dropdown component */
/* ============================================================================== */
.btn_select1 .btn_select_drop{
  position: relative;
  width: 215px;
  min-width: 130px;
  height: 45px;
  padding-right: 30px;
  padding-left: 16px;
  line-height: 40px;
  border-radius: 4px;
  text-align: left;
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  color: #13161a;
  border-width: 1px;
  border-style: solid;
  border-color: #c3cad2;
}

.bbs_write .btn_select_drop{
  padding-left: 12px;
}

.btn_select1 .btn_select_drop.dis{
  background-color: #f7f8f9;
  border-color: #c3cad2;
  color: #8e8e8e;
  cursor: default;
}

.btn_select1 .btn_select_drop .fa-solid{
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #13161a;
}
.bbs_write .btn_select_drop .fa-solid{
  font-size: 11px;
}
.bbs_write .btn_select_drop .fa-solid.dis{
  color: #617080;
}

.bbs_write .type .btn_select1{
  z-index: 11;
}

.btn_select_drop .select_list.ani{
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transform-origin: center top;
}

.btn_select_drop .select_list.on{
  /* opacity: 1;
  display: block; */
  transform: scaleY(100%);
}

.btn_select_drop .select_list.close{
  /* opacity: 0;
  display: none; */
  transform: scaleY(0);
}

.btn_select_drop .select_list.div{
  left: 0;
}

.w100{
  width: 100% !important;
}

.fw400{
  font-weight: 400 !important;
}

.zi11{
  z-index: 11 !important;
}

.btn_select_drop .select_list li a {
  height: 35px;
}

/* ============================================================================== */
/* ErrorMessage Component */
/* ============================================================================== */
.error_box{
  border: 1px solid rgba(241,28,14, 1);
}

.error_message_container{
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.error_message_ico{
  /* width: 16px;
  height: 16px; */
  margin-right: 8px; 
  font-size: 12px;
  color: rgba(241,28,14,1);
}

.error_message_text{
  /* font-family: "NotoSansJP-Regular"; */
  color: rgba(241,28,14,1);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
}

/* ============================================================================== */
/* ck editor */
/* ============================================================================== */
/* .ck-editor__editable{
  height: 200px;
}
.ck-content { 
  font-size: 14px; 
}

.ckeditor_container{
  width: 700px;
  margin-bottom: 24px;
} */

/* ============================================================================== */
/* draft editor */
/* ============================================================================== */

.draft_editor_container{
  height: 601px;
  border-width: 1px;
  border-style: solid;
  border-color: #c3cad2;
  border-radius: 5px;
}

.draft_editor{
  height: 550px;
}

.draft_editor .rdw-editor-toolbar{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #c3cad2;
  background: #f7f8f9;
}

.draft_editor_container.on{
  border-color: #394bc2;
}

.draft_contents{
  padding-left: 10px;
  padding-right: 10px;
}

.draft_contents .DraftEditor-root{
  height: auto;
}

.draft_image_popup{
  font-size: 13px;
}


/* ============================================================================== */
/* pagination */
/* ============================================================================== */
ul.tpagination {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.tpagination li{
  width: 38px;
  color: rgba(144,157,171,1);
  font-family: "NotoSansJP-Regular";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
}

.tpagination li.current {
  border-radius: 10px;
  background-color: rgba(237,238,250, 1);
  color: #394BC2;
  
}

.tpagination li.disable{
  color: #C3CAD2;
  cursor: default;
}

.tpagination li.arrow {
  color: #3A434D;
}

.none{
  display: none !important;
}

.pagenation li div {
  display: block;
  padding: 5px 12px 8px 12px;
  line-height: 25px;
  font-size: 24px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #909dab;
  cursor: pointer;
}
.pagenation li.on div {
  background-color: #edeefa;
  color: #394bc2;
}
.pagenation li.prev div {
  margin-right: 5px;
  color: #c3cad2;
}
.pagenation li.next div {
  margin-left: 5px;
  color: #c3cad2;
}
.pagenation li:hover div {
  color: #3a434d;
}

/* ============================================================================== */
/* Tooltip */
/* ============================================================================== */
.tooltip-popup{
  width: 282px;
  /* min-height: 78px; */
  margin-bottom: 8px;
  padding: 16px 16px 14px 16px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(58,67,77, 0.16);
  z-index: 1000;
  position: absolute;
  top: -8px;
  transform: translate(-50%, -100%);  
}

.tooltip-title{
  margin-bottom: 8px;
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Medium";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 20px;
}

.tooltip-text{
  color: rgba(77,90,103,1);
  font-family: "NotoSansJP-Medium";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.17px;
  text-align: left;
}




/* ============================================================================== */
/* product list gnb */
/* ============================================================================== */
ul.dashboard-gnb{
  height: 96px;
  padding-left: 55px;
  border-bottom: 1px solid #DDE1E5;
  display: flex;
  align-items: end;
}

li.dashboard-gnb{
  margin-right: 30px;
  padding-bottom: 13px;
  display: inline-block;
  color: rgba(144,157,171,1);
  font-family: "NotoSansJP-Bold";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 20px;
  cursor: pointer;
}

li.dashboard-gnb.selected{
  color: #394BC2;
  padding-bottom: 11px;
  border-bottom: 3px solid #394BC2;
}


.tabs li.blue a {
  color: #394bc2 !important;
}

.product_bar{
  position: absolute;
  height: 3px;
  background-color: #394bc2;
}


/* ============================================================================== */
/* dashboard main */
/* ============================================================================== */
.mh_300{
  min-height: 300px;
}

.zi_100{
  z-index: 100;
}

.page404{
  margin: 0;
  border-left-width: 0;
}

.zi_b{
  z-index: -1;
}

/* ============================================================================== */
/* dashboard product */
/* ============================================================================== */
.w300{
  width: 300px;
}
.mt23{
  margin-top: 23px;
}
.mt10{
  margin-top: 10px;
}
.mt39{
  margin-top: 39px;
}

.float-right{
  float: right;
}

.w124{
  width: 124px;
}

.w131h81{
  width: 131px !important; 
  height: 81px !important;
}

.pointer{
  cursor: pointer;
}

.relative{
  position: relative;
}

.wh100{
  width: 100%;
  height: 100%;
}

.status-sales{
  color: #2B9429;
}

.status-audit{
  color: #ED8812;
}

.status-not_for_sale{
  color: #F11C0E;
}

.dp_ig{
  display: inline-grid;
}
.pl_12{
  padding-left: 12px !important;
}

.cal_ico{
  position: absolute;
  z-index: 1;
  font-size: 19px;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.cal_blue{
  color: #394bc2;
}
.cal_gray{
  color: #c3cad2;
}

/* ============================================================================== */
/* dashboard product - sales list */
/* ============================================================================== */
.mt2{
  margin-top: 2px;
}

.w160{
  width: 160px;
}

.mr12{
  margin-right: 12px;
}

.mr24{
  margin-right: 24px;
}

.mr30{
  margin-right: 30px;
}


.mr50{
  margin-right: 50px;
}

.mr60{
  margin-right: 60px;
}

.mb4{
  margin-bottom: 4px;
}

.mt41{
  margin-top: 41px;  
}

.mt50{
  margin-top: 50px;  
}

.fs12{
  font-size: 12px;
}

.fs14{
  font-size: 14px;
}

.fs16{
  font-size: 16px;
}
.fs16{
  font-size: 18px;
}

.fs24{
  font-size: 24px;
}

.fs28{
  font-size: 28px;
}

.lh14{
  line-height: 14px;
}

.lh28{
  line-height: 28px;
}

.lh32{
  line-height: 32px;
}

.calendar-text{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.calendar-popup{
  max-width: 350px !important;
  position: absolute;
  z-index: 999;
}

.r_0{
  right: 0;
}
.l_0{
  left: 0;
}
.pl_0{
  padding-left: 0 !important;
}

.calendar-label{
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Regular";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 14px;
}

.saleslist-during-label{
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Medium";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 28px;
}

.saleslist-during-text{
  color: rgba(58,67,77,1);
  font-family: "NotoSansJP-Bold";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 32px;
}

.saleslist-data-col{
  display: flex;
}
.inp_cal .react-datepicker-popper{
  z-index: 10;
}

/* ============================================================================== */
/* react calendar */
/* ============================================================================== */
.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #394BC2;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
 .react-calendar__navigation button[disabled] {
   background-color: #f0f0f0;
  }
  abbr[title] {
    text-decoration: none;
  }
  /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  } */
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #394BC2;
    border-radius: 6px;
  }
  .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #394BC2;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
   background: #6f48eb33;
   border-radius: 6px;
   font-weight: bold;
   color: #394BC2;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }
  .react-calendar__tile--active {
    background: #394BC2;
    border-radius: 6px;
    font-weight: bold;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #394BC2;
    color: white;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
  }
  .react-calendar__tile--range {
    background: #f8f8fa;
    color: #394BC2;
    border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   background: #394BC2;
   color: white;
  }
  .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #394BC2;
    color: white;
  }
  
/* ============================================================================== */
/* sales inquiry */
/* ============================================================================== */
.dsi_btn{
  width: 124px;
  height: 32px;
}

.dsi_d_btns{
  display: flex;
  align-items: center;
  float: right;
}

.mb32{
  margin-bottom: 32px;
}

.mb8{
  margin-bottom: 8px;
}

.mb19{
  margin-bottom: 19px;
}

.flex{
  display: flex;
  align-items: center;
}

.dsi_answer{
  /* display: table-caption; */
  padding: 32px 100px;
  background-color: rgba(247,248,249, 1);
}

.dsi_answer_text{
  color: rgba(77,90,103,1);
  font-family: "NotoSansJP-Bold";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
}

.dsi_answer_line{
  width: 922px;
  height: 1px;
  background-color: rgba(221,225,229, 1);
}

.dsi_answer_blue{
  width: 71px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border-radius: 13.5px;
  background-color: rgba(57,75,194, 1);
  color: rgba(255,255,255,1);
  font-family: "NotoSansJP-Medium";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.86px;
}

.dsi_answer_time{
  color: rgba(57,75,194,1);
  font-family: "NotoSansJP-Bold";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.86px;
  text-align: center;
}

.dsi_rotate{
  transform: rotate(90deg);
}

/* ============================================================================== */
/* sales detail */
/* ============================================================================== */
.dsd_search_label{
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Medium";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 20px;
}

.dsd_search_select{
  width: 114px;
  height: 44px;
  line-height: 44px;
}

.dsd_sales_detail{
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Bold";
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 36px;
}

.dsd_date{
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Medium";
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 28px;
}

.mt24{
  margin-top: 24px;
}

.mt67{
  margin-top: 67px;
}

.modify{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -20%);

}

.d_tr{
  display: table-row;
}


/* ============================================================================== */
/* icon with text */
/* ============================================================================== */
.icon_wrap{
  position: absolute;
  z-index: 99;
  width: fit-content;
  height: auto;
  padding: 0 16px 16px 16px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid rgba(195,202,210, 1);
  background-color: rgba(255,255,255, 1);
}

.icon_textarea{
  width: 100%;
  min-height: 80px;
  border: 0;
  overflow-y: visible;
}

.icon_textarea_container{
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 12px;
}

.icon_image{
  width: 70px;
}

.icon_arrow{
  font-size: 24px;
  color: rgba(144,157,171, 1);
}

.icon_top_container{
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDE1E5;
}

.icon_top{
  width: 57px;
  height: 48px;
  margin-right: 4px;
  text-align: center;
}

.icon_top:hover{
  border-radius: 4px;
  border: 1px solid rgba(200,205,239, 1);
  background-color: rgba(237,238,250, 1);
}

.icon_top_selected{
  border-radius: 4px;
  border: 1px solid rgba(200,205,239, 1);
  background-color: rgba(237,238,250, 1);
}

.icon_container{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.icon_container > .icon{
  width: 98px;
  height: 98px;
  margin-top: 16px;
}

.icon_sel_wrap{
  width: 56px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid rgba(221,225,229, 1);
}

.icon_sel_del{
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  color: rgba(127,139,218, 1);
}

.mr8{
  margin-right: 8px;
}

.mr16{
  margin-right: 16px;
}

.mr34{
  margin-right: 34px;
}

.ml34{
  margin-left: 34px;
}

.mla{
  margin-left: auto;
}

.mt27{
  margin-top: 27px;
}


/* ============================================================================== */
/* dashboard plan edit */
/* ============================================================================== */
.plan_desc{
  margin-left: 16px;
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 16px;
}

.input_focus{
  border-color: #394BC2 !important;  /* 2022.10.07 lhk- focus효과*/
}

.inp_disabled{
  border-style: none;
  border-width: 0;
  background-color: #C3CAD2;
  color: #8e8e8e;
  cursor: default !important;
}


.inp_checked {
  border-color: #394bc2 !important;
  background-color: #394bc2 !important;
  color: #fff !important;
}

/* ============================================================================== */
/* dashboard - plan  */
/* ============================================================================== */
.h_auto{
  height: auto;
}

.h_0{
  height: 0;
}

.wh_i{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50px;
  box-shadow: 0 1px 20px rgb(0 0 0 / 50%) !important;
}

.bottom{
  /* position: absolute;
  left: 23px;
  bottom: 40px;
  width: calc(100% - 46px) !important; */
  position: relative;
}

.ta_center{
  text-align: center;
}

/* ============================================================================== */
/* dashboard - profile  */
/* ============================================================================== */
.top_profile .fileview > div > img {
  width: 100% !important;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #13161a;
  overflow: auto; /* 2022.09.26 profile background preview 영역 벗어나는걸 방지하기 위해서 추가 */
}

.transition{
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.w0{
  width: 0px;
}
.w100p{
  width: 100%;
}

/* ============================================================================== */
/* dashboard - post  */
/* ============================================================================== */
.wrap_detail .area_detail2 .t1{
  font-family: "NotoSansJP-Regular";
  letter-spacing: 1px;
}

.c_default{
  cursor: default !important;
}

.editor_p{
  padding: 10px 48px;
}

.wrap_comment .lst_comm .botm div {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: #13161a;
  cursor: pointer;
}

.pb_43p{
  padding-bottom: 43%;
}

.box_drag_multi {
  position: relative;
  height: auto;
  text-align: center;
  color: #4d5a67;
  font-size: 16px;
}

.box_drag_multi .fileview {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.box_drag_multi .fileview div {
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: #394bc2;
  box-sizing: border-box;
}

.box_drag_multi .fileview .btn_del {
  position: absolute;
  right: -16px;
  top: -16px;
  border-radius: 32px;
  color: #fff;
  font-size: 32px;
  line-height: 0;
  background-color: #4d5a67;
  border-width: 2px;
  border-style: solid;
  border-color: #4d5a67;
}

.arr_color{
  color: #4d5a67;
}

.lst_post .inp_txchk:last-child {
  margin-right: 0;
}
.lst_post .inp_txchk {
  margin-left: 0;
  margin-right: 16px;
}
.bbs_write .series .btn_select1{
  z-index: 12;
}
.bbs_write .category .btn_select1{
  z-index: 11;
}

/* ============================================================================== */
/* dashboard - series  */
/* ============================================================================== */
.ws_pre{
  white-space: pre-line;
}

/* .tbl_basic .cx_thumb:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #000000 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #000000 100%
  );
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1);
} */


/* ============================================================================== */
/* Lottie  */
/* ============================================================================== */
.lottie{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c_transparent{
  color: transparent;
}


/* ============================================================================== */
/* emptyTr  */
/* ============================================================================== */
.empty_tr{
  height: 198px; 
  position: relative;
}

.empty_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.plan_empty{
  height: 700px;
  position: relative;
}

.supportor_empty{
  height: 308px;
  position: relative;
}


/* ============================================================================== */
/* popup   */
/* ============================================================================== */
.error_popup_title{
  margin-bottom: 40px;
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Medium";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  line-height: 28px;
}

.error_popup_message{
  margin-bottom: 40px;
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Medium";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 16px;
}

.w336{
  width: 336px;
}
/* ============================================================================== */
/* markdown  */
/* ============================================================================== */
.markdown{
  color:#13161a !important;
  background-color: #fff !important;
}

/* ============================================================================== */
/* header back button tablet & mobile css  */
/* ============================================================================== */

@media screen and (min-width:1061px) and (max-width: 1165px) {
  /* header back title 1160 되면 겹쳐서  */
  .head_con .btn_back{
    font-size: 20px ;
  }
  .hide_1160{
    display: none;
  }
  .l349{
    left: 280px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media screen and (min-width:961px) and (max-width:1060px)  {
  .head_con .btn_back{
    font-size: 14px ;
  }
  .header .box_hd_sch{
    width: 350px;
  }
  .hide_1060{
    display: none;
  }
  .l349{
    left: 270px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

/* ============================================================================== */
/* temp mobile css  */
/* ============================================================================== */

@media (max-width: 960px)  {

  .box_drag_multi .fileview .btn_del {
    font-size: 24px;
    border-width: 1px;
    right: -10px;
    top: -10px;
  }

  .series_btns{
    margin-top: 0 !important;
    border-top-style: none !important;
  }

  .draft_editor{
    height: 300px;
  }
  
  .draft_editor_container{
    height: 364px;
  }

  .draft_image_popup{
    transform: translate(-50%, 0);
  }

  .markdown{
    font-size: 12px !important;
  }

  .cal_ico{
    font-size: 14px;
  }

  li.dashboard-gnb{
    font-size: 13px;
  }

  .plan_empty{
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #C3CAD2;
    background-color: #fff;
  }

  .tooltip-popup{
    width: 200px;
    padding: 12px 12px 12px 12px;
    transform: translate(-10%, -100%);  
  }

  .tooltip-title{
    font-size: 12px;
  }
  
  .tooltip-text{
    font-size: 12px;
  }

  .modify{
    font-size: 12px !important;
    line-height: 30px !important;
  }

  .dp_ig{
    display: block;
  }

  .m_mt24{
    margin-top: 24px !important;
  }

  .m_mt16{
    margin-top: 16px;
  }

  .m_ml16{
    margin-left: 16px;
  }

  .btn_select1 .btn_select_drop{
    padding-left: 8px;
    width: 132px;
    height: 32px;
    line-height: 20px;
    font-size: 12px;
    background-position: right 8px center;
  }
  .btn_select1 .btn_select_drop .fa-solid{
    right: 8px;
    font-size: 12px;
  }
  .bbs_write .btn_select_drop{
    width: 170px;
    height: 32px;
    line-height: 30px;
  }
  .btn_select_drop .select_list {
    padding: 6px 0px;
    min-width: 100px;
    top: 34px;
  }
  .lst_post .inp_txchk {
    margin-right: 8px;
  }
}
/* 
@media (max-width: 470px)  {
  .lst_txchk{
    overflow-y: hidden;
    overflow-x: auto;
  }
} */

