
/* ============================================================================== */
/* Dropdown component */
/* ============================================================================== */
.dropdown_container{
  width: 215px;
  height: 45px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid rgba(195,202,210, 1);
  background-color: rgba(255,255,255, 1);
  position: relative;
}

.dropdown_header{
  width: 100%;
  height: 45px;
  padding: 14px;
  font-size: 16px;
}

.dropdown_ul{
  width: 100%;
  position: absolute;
  top: 110%;
  z-index: 10;
  border-radius: 4px;
  border: 1px solid rgba(195,202,210, 1);
  background-color: rgba(255,255,255, 1);
}

.dropdown_li{
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  opacity: 1;
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 16px;
  background-color: white;
}

.dropdown_down_ico{
  width: 12px;
  height: 7px;
  color: black,;
  position: absolute;
  top: 19px;
  right: 16px;
}

.dropdown_ani{
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transform-origin: center top;
}

.dropdown_on{
  /* opacity: 1;
  display: block; */
  transform: scaleY(100%);
}

.dropdown_close{
  /* opacity: 0;
  display: none; */
  transform: scaleY(0);
}

.dropdown_div{
  left: 0;
}

.w100{
  width: 100% !important;
}


/* ============================================================================== */
/* ErrorMessage Component */
/* ============================================================================== */
.error_box{
  border: 1px solid rgba(241,28,14, 1);
}

.error_message_container{
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.error_message_ico{
  /* width: 16px;
  height: 16px; */
  margin-right: 8px; 
  font-size: 12px;
  color: rgba(241,28,14,1);
}

.error_message_text{
  /* font-family: "NotoSansJP-Regular"; */
  color: rgba(241,28,14,1);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
}

/* ============================================================================== */
/* ck editor */
/* ============================================================================== */
/* .ck-editor__editable{
  height: 200px;
}
.ck-content { 
  font-size: 14px; 
}

.ckeditor_container{
  width: 700px;
  margin-bottom: 24px;
} */

/* ============================================================================== */
/* pagination */
/* ============================================================================== */
ul.tpagination {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.tpagination li{
  width: 38px;
  color: rgba(144,157,171,1);
  font-family: "NotoSansJP-Regular";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  text-align: center;
  cursor: pointer;
}

.tpagination li.current {
  border-radius: 10px;
  background-color: rgba(237,238,250, 1);
  color: #394BC2;
  
}

.tpagination li.disable{
  color: #C3CAD2;
  cursor: default;
}

.tpagination li.arrow {
  color: #3A434D;
}

.none{
  display: none !important;
}

/* ============================================================================== */
/* Tooltip */
/* ============================================================================== */
.tooltip-popup{
  width: 282px;
  /* min-height: 78px; */
  margin-bottom: 8px;
  padding: 16px 16px 14px 16px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(58,67,77, 0.16);
  z-index: 1000;
  position: absolute;
  top: -8px;
  transform: translate(-50%, -100%);  
}

.tooltip-title{
  margin-bottom: 8px;
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Medium";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 20px;
}

.tooltip-text{
  color: rgba(77,90,103,1);
  font-family: "NotoSansJP-Medium";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1.17px;
  text-align: left;
}

/* ============================================================================== */
/* product list gnb */
/* ============================================================================== */
ul.dashboard-gnb{
  height: 96px;
  padding-left: 55px;
  border-bottom: 1px solid #DDE1E5;
  display: flex;
  align-items: end;
}

li.dashboard-gnb{
  margin-right: 30px;
  padding-bottom: 13px;
  display: inline-block;
  color: rgba(144,157,171,1);
  font-family: "NotoSansJP-Bold";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 20px;
  cursor: pointer;
}

li.dashboard-gnb.selected{
  color: #394BC2;
  padding-bottom: 11px;
  border-bottom: 3px solid #394BC2;
}

@media  (max-width: 961px)  {
  li.dashboard-gnb{
    font-size: 13px;
  }
}

/* ============================================================================== */
/* dashboard product */
/* ============================================================================== */
.w300{
  width: 300px;
}
.mt23{
  margin-top: 23px;
}
.mt10{
  margin-top: 10px;
}
.mt39{
  margin-top: 39px;
}

.float-right{
  float: right;
}

.w124{
  width: 124px;
}

.w131h81{
  width: 131px !important; 
  height: 81px !important;
}

.pointer{
  cursor: pointer;
}

.relative{
  position: relative;
}

.wh100{
  width: 100%;
  height: 100%;
}

.status-sales{
  color: #2B9429;
}

.status-audit{
  color: #ED8812;
}

.status-not_for_sale{
  color: #F11C0E;
}

/* ============================================================================== */
/* dashboard product - sales list */
/* ============================================================================== */
.mt2{
  margin-top: 2px;
}

.w160{
  width: 160px;
}

.mr12{
  margin-right: 12px;
}

.mr24{
  margin-right: 24px;
}

.mr30{
  margin-right: 30px;
}


.mr50{
  margin-right: 50px;
}

.mr60{
  margin-right: 60px;
}

.mb4{
  margin-bottom: 4px;
}

.mt41{
  margin-top: 41px;  
}

.mt50{
  margin-top: 50px;  
}

.fs12{
  font-size: 12px;
}

.fs14{
  font-size: 14px;
}

.fs16{
  font-size: 16px;
}

.fs24{
  font-size: 24px;
}

.fs28{
  font-size: 28px;
}

.lh14{
  line-height: 14px;
}

.lh28{
  line-height: 28px;
}

.lh32{
  line-height: 32px;
}

.calendar-text{
  width: 160px;
  height: 30px;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
}

.calendar-popup{
  max-width: 350px !important;
  position: absolute;
  top: 42px;
  left: 0;
  transform: translate(-25%, 0);
  z-index: 999;
}

.calendar-label{
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Regular";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 14px;
}

.saleslist-during-label{
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Medium";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 28px;
}

.saleslist-during-text{
  color: rgba(58,67,77,1);
  font-family: "NotoSansJP-Bold";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 32px;
}

.saleslist-data-col{
  display: flex;
}

/* ============================================================================== */
/* react calendar */
/* ============================================================================== */
.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #394BC2;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
 .react-calendar__navigation button[disabled] {
   background-color: #f0f0f0;
  }
  abbr[title] {
    text-decoration: none;
  }
  /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  } */
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #394BC2;
    border-radius: 6px;
  }
  .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #394BC2;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
   background: #6f48eb33;
   border-radius: 6px;
   font-weight: bold;
   color: #394BC2;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
  }
  .react-calendar__tile--active {
    background: #394BC2;
    border-radius: 6px;
    font-weight: bold;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #394BC2;
    color: white;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
  }
  .react-calendar__tile--range {
    background: #f8f8fa;
    color: #394BC2;
    border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   background: #394BC2;
   color: white;
  }
  .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #394BC2;
    color: white;
  }
  
/* ============================================================================== */
/* sales inquiry */
/* ============================================================================== */
.dsi_btn{
  width: 124px;
  height: 32px;
}

.dsi_d_btns{
  display: flex;
  align-items: center;
  float: right;
}

.mb32{
  margin-bottom: 32px;
}

.mb8{
  margin-bottom: 8px;
}

.mb19{
  margin-bottom: 19px;
}

.flex{
  display: flex;
  align-items: center;
}

.dsi_answer{
  /* display: table-caption; */
  padding: 32px 100px;
  background-color: rgba(247,248,249, 1);
}

.dsi_answer_text{
  color: rgba(77,90,103,1);
  font-family: "NotoSansJP-Bold";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
}

.dsi_answer_line{
  width: 922px;
  height: 1px;
  background-color: rgba(221,225,229, 1);
}

.dsi_answer_blue{
  width: 71px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border-radius: 13.5px;
  background-color: rgba(57,75,194, 1);
  color: rgba(255,255,255,1);
  font-family: "NotoSansJP-Medium";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.86px;
}

.dsi_answer_time{
  color: rgba(57,75,194,1);
  font-family: "NotoSansJP-Bold";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.86px;
  text-align: center;
}

.dsi_rotate{
  transform: rotate(90deg);
}

/* ============================================================================== */
/* sales detail */
/* ============================================================================== */
.dsd_search_label{
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Medium";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 20px;
}

.dsd_search_select{
  width: 114px;
  height: 44px;
  line-height: 44px;
}

.dsd_sales_detail{
  color: rgba(19,22,26,1);
  font-family: "NotoSansJP-Bold";
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 36px;
}

.dsd_date{
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Medium";
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 28px;
}

.mt24{
  margin-top: 24px;
}

.mt67{
  margin-top: 67px;
}

.modify{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -20%);

}
@media (max-width: 960px) {
  .modify{
    font-size: 12px !important;
    line-height: 30px !important;
  }
}

/* ============================================================================== */
/* icon with text */
/* ============================================================================== */
.icon_wrap{
  position: absolute;
  z-index: 99;
  width: fit-content;
  height: auto;
  padding: 0 16px 16px 16px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid rgba(195,202,210, 1);
  background-color: rgba(255,255,255, 1);
}

.icon_textarea{
  width: 100%;
  height: auto;
  border: 0;
  overflow-y: visible;
}

.icon_textarea_container{
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 12px;
}

.icon_arrow{
  font-size: 24px;
  color: rgba(144,157,171, 1);
}

.icon_top_container{
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDE1E5;
}

.icon_top{
  width: 57px;
  height: 48px;
  margin-right: 4px;
  text-align: center;
}

.icon_top:hover{
  border-radius: 4px;
  border: 1px solid rgba(200,205,239, 1);
  background-color: rgba(237,238,250, 1);
}

.icon_container{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.icon_container > .icon{
  width: 98px;
  height: 98px;
  margin-top: 16px;
}

.icon_sel_wrap{
  width: 56px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid rgba(221,225,229, 1);
}

.icon_sel_del{
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  color: rgba(127,139,218, 1);
}

.mr16{
  margin-right: 16px;
}

.mr34{
  margin-right: 34px;
}

.ml34{
  margin-left: 34px;
}

.mla{
  margin-left: auto;
}

.mt27{
  margin-top: 27px;
}


/* ============================================================================== */
/* dashboard plan edit */
/* ============================================================================== */
.plan_desc{
  margin-left: 16px;
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 16px;
}

.input_focus{
  border-color: #394BC2 !important;  /* 2022.10.07 lhk- focus효과*/
}

.inp_disabled{
  border-style: none;
  border-width: 0;
  background-color: #C3CAD2;
  color: #8e8e8e;
  cursor: default !important;
}

/* ============================================================================== */
/* dashboard - plan  */
/* ============================================================================== */
.h_auto{
  height: auto;
}

.wh_i{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50px;
  box-shadow: 0 1px 20px rgb(0 0 0 / 50%) !important;
}

.bottom{
  /* position: absolute;
  left: 23px;
  bottom: 40px;
  width: calc(100% - 46px) !important; */
  position: relative;
}

/* ============================================================================== */
/* dashboard - profile  */
/* ============================================================================== */
.top_profile .fileview > div > img {
  width: 100% !important;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #13161a;
  overflow: auto; /* 2022.09.26 profile background preview 영역 벗어나는걸 방지하기 위해서 추가 */
}

/* ============================================================================== */
/* emptyTr  */
/* ============================================================================== */
.empty_tr{
  height: 198px; 
  position: relative;
}

.empty_text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(97,112,128,1);
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.plan_empty{
  height: 700px;
  position: relative;
}

.supportor_empty{
  height: 308px;
  position: relative;
}

@media screen and (max-width:961px)  {
  .plan_empty{
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #C3CAD2;
    background-color: #fff;
  }
}


/* ============================================================================== */
/* temp mobile css  */
/* ============================================================================== */
@media screen and (min-width:1061px) and (max-width: 1165px) {
  /* header back title 1160 되면 겹쳐서  */
  .head_con .btn_back{
    font-size: 20px ;
  }
  .hide_1160{
    display: none;
  }
  .l349{
    left: 280px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media screen and (min-width:961px) and (max-width:1060px)  {
  .head_con .btn_back{
    font-size: 14px ;
  }
  .header .box_hd_sch{
    width: 350px;
  }
  .hide_1060{
    display: none;
  }
  .l349{
    left: 270px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
