$black: #1a1a1a !default;
$dark: #131925 !default;
$dark-two: #232f3f !default;
$brownish-grey: #656565 !default;
$lightblue: #80ccf7 !default;
$black-two: #111111 !default;
$black-three: #222222 !default;
$brownish-grey-two: #777777 !default;
$greyish-brown: #494949 !default;
$black-four: #2d2d2d !default;
$white: #ffffff !default;
$charcoal-grey: #383f48 !default;
$grey-blue: #5e6c83 !default;
$dark-grey-blue: #374760 !default;
$black-five: #373636 !default;
$dark-gray: #131314 !default;
$light-periwinkle: #c6ddf9 !default;
$pale-lilac: #dadbf9 !default;
$pale: #fbe3d2 !default;
$pale-peach: #fdeeb5 !default;
$very-light-pink: #bbbbbb !default;
$brown-grey: #919191 !default;
$greyish-brown-two: #474747 !default;

$colors: () !default;

